<div class="ui middle aligned center aligned grid">
  <div class="column">
    <h2 class="ui orange image header">
      <div class="content custom-login-header">
        <i class="user circle icon big"></i>
        <%= title %>
      </div>
    </h2>
  </div>
</div>
