<div class="ui container">
  <h2 class="ui aligned center icon header">
    <i class="icon circular huge expand arrows alternate yellow custom-offwhite"></i>
    <span class="icon-text">OFF WHITE CHAT<span>
  </h2>
</div>
