@import "semantic-ui";
@import "font-awesome";

@font-face {
  font-family: "college";
  src: url('/assets/college');
}
.custom-offwhite {
  background-color: black;
  margin-bottom: 10px;
}

.icon-text {
  font-family: "helvetica";
  font-weight: bold;
}

.chatbox {
  height: 450px;
}

.chat-layout {
  margin: 10px;
  width: auto;

}
