@import "semantic-ui";
@import "font-awesome";

@font-face {
  font-family: "collegeb";
  src: url('/assets/collegeb');
}
.custom-offwhite {
  background-color: black;
  margin-bottom: 10px;
}

.icon-text {
  font-family: "collegeb";
}
