<% if flash.any? %>
  <% flash.each do |key, value| %>
    <div class="<%= flash_class(key)%>">
      <i class="close icon"></i>
      <%= value %>
    </div>
  <% end %>
<% end %>


<%= @user.errors.full_messages if @user.errors %>
